body {
  font-family: Arial;
  font-size: 16px;
  height: 100vh;
}
.container {
  margin-top: 50px;
  padding: 20px;
  min-height: 400px;
  /* Style the tab */
  /* Style the tab content */
  /* Style type field */
}
.container .tab {
  overflow: hidden;
  /* Style the buttons inside the tab */
}
.container .tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s;
  font-size: 16px;
  /* Change background color of buttons on hover */
  /* Active/current tab link class */
}
.container .tab button:hover {
  background-color: #b2dfdb;
}
.container .tab button.active {
  background-color: #b2dfdb;
}
.container .tabContent {
  display: none;
  padding: 20px;
  border-top: none;
}
.container #signatureTyped {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
}
.container #signatureImg {
  visibility: hidden;
}
.container #drawPad {
  border-style: ridge;
}
