@primaryColor: #b2dfdb;
@handwrittenFont: 'Indie Flower';
@smallFontSize: 16px;
@largeFontSize: 24px;

body {
  font-family: Arial;
  font-size: @smallFontSize;
  height: 100vh;
}

.container {
  margin-top: 50px;
  padding: 20px;
  min-height: 400px;

  /* Style the tab */
  .tab {
    overflow: hidden;

    /* Style the buttons inside the tab */
    button {
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 15px;
      transition: 0.3s;
      font-size: @smallFontSize;

      /* Change background color of buttons on hover */
      &:hover {
        background-color: @primaryColor;
      }

      /* Active/current tab link class */
      &.active {
        background-color: @primaryColor;
      }
    }
  }

  /* Style the tab content */
  .tabContent {
    display: none;
    padding: 20px;
    border-top: none;
  }

  /* Style type field */
  #signatureTyped {
    font-family: @handwrittenFont, cursive;
    font-size: @largeFontSize;
  }

  #signatureImg {
    visibility: hidden;
  }

  #drawPad {
    border-style: ridge;
  }
}
